In [3]:
import json
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [44]:
matches = []

for j in glob.glob('jsons/*'):
    with open(j) as f:
        matches.append(json.load(f))

team = matches[0]['matches'][0]['blue']['players'][0]
team

{'id': {'platform': 'epic', 'id': '1bc6c6733f0d423785729728aa04f8b4'},
 'name': 'MrWeza7',
 'car_name': 'Fennec',
 'stats': {'movement': {'avg_speed': 1394, 'total_distance': 463087},
  'core': {'shots': 2,
   'shots_against': 5,
   'goals': 1,
   'goals_against': 4,
   'saves': 0,
   'assists': 0,
   'score': 218,
   'mvp': False,
   'shooting_percentage': 50},
  'demo': {'inflicted': 0, 'taken': 0}}}

In [45]:
player_data = []

for day in matches:
    for match in day['matches']:
        for team in ['blue', 'orange']:
            for player in match[team]['players']:
                parsed_dict = {}

                parsed_dict['name'] = player['name']
                parsed_dict['platform'] = player['id']['platform']
                parsed_dict['id'] = player['id']['id']
                parsed_dict['team_name'] = match[team]['name']
                parsed_dict['car_name'] = player['car_name']

                parsed_dict['avg_speed'] = player['stats']['movement']['avg_speed']
                parsed_dict['total_distance'] = player['stats']['movement']['total_distance']
                
                parsed_dict['shots'] = player['stats']['core']['shots']
                parsed_dict['shots_against'] = player['stats']['core']['shots_against']
                parsed_dict['goals'] = player['stats']['core']['goals']
                parsed_dict['goals_against'] = player['stats']['core']['goals_against']
                parsed_dict['saves'] = player['stats']['core']['saves']
                parsed_dict['assists'] = player['stats']['core']['assists']
                parsed_dict['score'] = player['stats']['core']['score']
                parsed_dict['mvp'] = player['stats']['core']['mvp']
                parsed_dict['shooting_percentage'] = player['stats']['core']['shooting_percentage']

                parsed_dict['demos_inflicted'] = player['stats']['demo']['inflicted']
                parsed_dict['demos_taken'] = player['stats']['demo']['taken']

                player_data.append(parsed_dict)

In [54]:
data = pd.DataFrame(data=player_data, columns=player_data[0].keys())
data.head(5)

,name,platform,id,team_name,car_name,avg_speed,total_distance,shots,shots_against,goals,goals_against,saves,assists,score,mvp,shooting_percentage,demos_inflicted,demos_taken
0,MrWeza7,epic,1bc6c6733f0d423785729728aa04f8b4,MANGA,Fennec,1394,463087,2,5,1,4,0,0,218,False,50.0,0,0
1,ak559ram,ps4,ak559ram,MANGA,Octane,1557,517195,1,5,0,4,0,0,190,False,0.0,0,1
2,TR BeShOy,epic,fc1a9af1c0b9488fb678a07b79392cad,MANGA,Octane,1562,519549,3,5,0,4,0,1,178,False,0.0,4,1
3,3R7,steam,76561198808310871,BABABOOEY,Octane,1438,480490,2,6,2,1,2,1,479,True,100.0,0,1
4,Omar,steam,76561198274220626,BABABOOEY,Octane,1667,551014,2,6,1,1,1,1,364,False,50.0,2,2

In [57]:
data.to_csv('stats.csv')

In [62]:
data.groupby(by='name')['goals'].sum().sort_values(ascending=False)

name
Saitama.            8
u are noob          7
Evo.                6
Karim Benzema       6
Olwan365            6
Blaster.isbanned    5
LIGHT               5
Omar                4
6J6O6K6E6R6         4
Vertzoz             4
SpeedTouch          4
Dumb                3
rfkill              3
N O T E.            3
LakzInASlump        3
3R7                 3
Natio2001           2
MrWeza7             2
AJ                  2
V                   2
Jasminea_           2
Chevoux             2
Haithomianzz        2
Snsb                2
Gareth Bale         2
ak559ram            1
aymaanfawzy         1
ABDOx5OD            1
Amar                1
ancient rl          1
Bsharp              1
S7vB                1
Freezee4ever        1
I3bdoGX             1
Syco-Smsm           1
XtratoS             0
Hazem               0
IAMOn_Fir3          0
Bardrick916         0
ToxicPrison         0
TR BeShOy           0
NotCrabz            0
Get Schwifty97      0
Name: goals, dtype: int64

In [66]:
data.sort_values('goals', ascending=False)

,name,platform,id,team_name,car_name,avg_speed,total_distance,shots,shots_against,goals,goals_against,saves,assists,score,mvp,shooting_percentage,demos_inflicted,demos_taken
97,Saitama.,steam,76561198345081954,TRIPLE THREAT,Octane,1535,525945,6,4,6,1,0,0,868,True,100.000000,0,1
12,u are noob,steam,76561198452996823,GROG,Fennec,1553,522801,5,5,3,2,0,0,499,True,60.000000,0,0
45,Blaster.isbanned,epic,9a992165c2364f1a883b10fc5327da98,BBL,Octane,1562,684192,9,6,2,4,1,1,634,True,22.222221,1,0
30,u are noob,steam,76561198452996823,GROG,Fennec,1557,489421,5,6,2,0,1,0,432,True,40.000000,1,0
24,Evo.,steam,76561198357616630,MANSOURA,Fennec,1479,466118,3,3,2,0,0,0,472,True,66.666664,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,3R7,steam,76561198808310871,BABABOOEY,Octane,1430,442227,2,5,0,0,0,1,184,False,0.000000,1,0
58,I3bdoGX,steam,76561198825245008,BABABOOEY,Octane,1526,474482,1,5,0,0,2,0,206,False,0.000000,0,0
56,MrWeza7,epic,1bc6c6733f0d423785729728aa04f8b4,MANGA,Fennec,1260,389871,1,7,0,1,0,0,230,False,0.000000,0,0
55,ak559ram,ps4,ak559ram,MANGA,Octane,1504,469371,3,7,0,1,2,0,362,False,0.000000,0,0
132,Jasminea_,epic,62d668b48e834a7caaabeac87660117f,WHITES,Octane,1486,471314,1,9,0,2,1,1,220,False,0.000000,0,0